<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<script src="/js/member/login.js"></script>
<link rel="stylesheet" tpye="text/css" href="/css/member/login.css">
<div class="login-wrapper">
    <h2>Login</h2>
    <form id="loginForm" onsubmit="return login()">
        <input type="text" id="uid" name="userName" placeholder="Email" required>
        <input type="password" id="upw" name="userPassword" placeholder="Password" required>
        <br>
        <input type="submit" value="Login">
    </form>

</div>
</body>
</html>