<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interactive Portfolio</title>
</head>
<body>
<link rel="stylesheet" href="/css/main/index.css">
<div class="split left">
  <div class="solar-system">
    <div class="circle"></div>
    <div class="sun">
      <div class="earth">
        <div class="moon">
        </div>
      </div>
    </div>
  </div>

  <div class="centered">
    Can Do Anything
  </div>

</div>
<a-scene>
  <a-camera position='0 0 3' user-height='0'></a-camera>
  <a-sphere src="https://raw.githubusercontent.com/aframevr/sample-assets/master/assets/images/space/earth_atmos_4096.jpg" radius="1.5" segments-height="53">
    <a-animation attribute="rotation"
                 dur="10000"
                 fill= "forwards"
                 to="0 360 0"
                 easing="linear"
                 repeat="indefinite"></a-animation>
  </a-sphere>
  <a-sky segments-height="100" segments-width="100"  src="https://1.bp.blogspot.com/-4CHlBxsvQ_0/UrxJVGBY_tI/AAAAAAAAAWo/OK14DV9oCaQ/s1600/Christmas+Sky+Full+Of+Stars.jpg" color="#555" rotation="0 -90 0"></a-sky>
</a-scene>
<div class="split right">
  <button class="button" onclick="window.location.href='login';">마이페이지</button>
  <button class="button" onclick="window.location.href='https://github.com/GaYoNE00';">깃허브 구경하기</button>
  <button class="button" onclick="window.location.href='URL3';">게시판 이동하기</button>
</div>

<script>
  // You can add your JavaScript for hover animations here
</script>

</body>
</html>
